/* Calling the font from files*/
@font-face {
  font-family: Terminal10;
  src: url(assets/Terminal10.otf);
}

/* Setting the main stuff for the website such as font, background colour and overflow */
*{
  font-family: 'Terminal10';
  font-size: 24px;

}


html, body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

body{
  overflow:hidden;
  max-height: 100vh;
}

canvas {
  display: block;
}

/* Settting the properties of the input field */
input{
  background-color: black;
  /* This sets the colour of the text in the text being typed */
  color:#00ff00;
  /* Border stuff */
  border: solid white;
  border-radius: 5px;
  /* Makes sure that the input field is a minimum of 50% of the container size */
  min-width: 50%;

  /* Prevents the blue outline around the input field */
  outline:none;
  /* Sets the growth of the input field to at least twice as big as the other items in the container */
  flex-grow: 2;
  /* For the inside text */
  padding-left: 10px;
  margin-left: 5px;
}

button{
  border: solid #00ff00;
  background-color: #00ff00;
  border-radius: 5px;
  padding:0;
  min-width: 50px;
  margin:0 5px;
}

button:hover{
  cursor: pointer;
}

p{
  color: #00ff00;
  margin:0;
}

footer{
  position:fixed;
  bottom:0;
  width:100vw;
  height:36px;
  background-color:#000000;
}

header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 0 10px;
  border: solid 2px #ffffff;
  border-radius: 5px;
  z-index: 0;
  margin:5px;
}

ul{
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

li{
  padding: 5px 1px;
  color: #00ff00
}

a:hover{
  text-decoration: underline;
}

.headerItem{
  padding:5px;
  max-height:30px;
}

.mainContent{
  display: flex;
  flex-grow: 10;
  overflow-y: scroll;
  max-height:calc(100% - 84px);

}

.mainTxt{
  padding:16px;
  overflow-wrap: break-word;
}

.mainTxt p{
  font-size: 24px;
}

/* The container which houses the text field and the button */
.inputField{
  /* Flex box stuff */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap:5px;
  padding-bottom:5px;

}

.content{
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  overflow:hidden;
}

.commandsListDropdown{
  position: relative;
  display: inline-block;
}

.commandsListButton{
  min-width:100%;
}

.commandsList{
  display: none;
  position: absolute;
  text-align: right;
  width: max-content;
  right: 0;
  border: solid 2px white;
  background-color: #000000;
  border-radius: 10px;
  padding: 5px;
}

.commandsListButton button{
  min-width: 100%;
  padding: 0 5px;
  margin: 0;
}

.commandsListButton:hover .commandsList{
  display: block;
  min-width: 100%;
}

@container (width > 200px){
  .commandsList{
    font-size: 1vw;
  }
}

@media only screen and (max-width: 600px) and (any-hover: none){

  /* Buffer for the bottom of the screen */
  footer{
    padding-bottom: 16px;
  }

  .mainContent{
    max-height:calc(100% - 195px);
  }

}